/* ****************from index.css****************** */


/* Common */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #3d3d3d;
    padding-right: 0px !important;
}

.primary-background {
    background-color: #FF1659;
    color: #ffffff;
}

.primary-color {
    color: #FF1659;
    background-color: #ffffff;
}
.app-header.primary-background {
  background-color: #ffffff;
    color: #2E3033;
}

.app-header.primary-background {
  background-color: #ffffff;
  color: #2E3033;
}

header.app-header.navbar{
  border-bottom: 2px solid #FF1659 !important;
}

.logo-div{
    border-bottom: 2px solid #FF1659 !important;
}
.card {
  box-shadow: 3px 3px 5px 0 #0a0707;
  border-radius: 0.45rem;
  border: 1px solid #ed1c24
}

.partnerDashBoardCard.card {
  box-shadow: 0px 3px 10px 0px #EAEDF0;
  border-radius: 0.45rem;
  border: 1px solid #EAEDF0;
}

.custom-tabs .nav-link {
    border: none;
    font-weight: 600;
    font-size: 90%;
    color: #939399 !important;
}

.custom-tabs .active.nav-link {
  border-bottom: 2px solid #33495F !important;
  background-color: #ffffff !important;
  color: #33495F !important;
  font-weight: bolder;
}
.custom-tabs .nav-link:hover{
  background-color: inherit !important;
  color: inherit !important;
}

.custom-link:hover{
    color: #FF1659;
}

/* @Deepthy */
#verticalTab .active.nav-link {
  color: #ffffff !important;
  background-color: #33495F !important;
  border-color: #33495F !important;
}

#verticalTab .nav-link {
    padding: 15px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #E6E6E6;
    /* border-bottom: 1px solid #E6E6E6;  */
}
#verticalTab .nav-link:hover {
  color: #ffffff !important;
  background-color: #33495F !important;
  border-color: #33495F !important;
}
.document-thumbnail {
    width: 115.72px;
    height: 115.72px;
    background: url('../images/icons/file-image.svg') no-repeat center;
    background-size: contain;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tooltip-inner{
    max-width: unset !important;
}

/** animation **/

@keyframes ring {
    0% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
  
    2% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
  
    4% {
      -webkit-transform: rotate(-18deg);
      transform: rotate(-18deg);
    }
  
    6% {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  
    8% {
      -webkit-transform: rotate(-22deg);
      transform: rotate(-22deg);
    }
  
    10% {
      -webkit-transform: rotate(22deg);
      transform: rotate(22deg);
    }
  
    12% {
      -webkit-transform: rotate(-18deg);
      transform: rotate(-18deg);
    }
  
    14% {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  
    16% {
      -webkit-transform: rotate(-12deg);
      transform: rotate(-12deg);
    }
  
    18% {
      -webkit-transform: rotate(12deg);
      transform: rotate(12deg);
    }
  
    20%, 100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}

.faa-ring.animated.faa-fast,
.faa-ring.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-ring.faa-fast {
  -webkit-animation: ring 1s ease infinite;
  animation: ring 1s ease infinite;
}

.faa-ring.animated.faa-slow,
.faa-ring.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-ring.faa-slow {
  -webkit-animation: ring 3s ease infinite;
  animation: ring 3s ease infinite;
}

.pac-container {
  z-index: 1051 !important;
}

.ch-wal1-bg{
  min-height: 70px;
  border-radius: 0.25rem;
  background-color: #E1F8F8;
  box-shadow: none;
  border: none;
}

.ch-wal2-bg{
  min-height: 70px;
  border-radius: 0.25rem;
  background-color: #EBECFA;
  box-shadow: none;
  border: none;
}

.wallTextDiv{
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #939399;
}
.wallTextDiv .fa-ellipsis-h{
  opacity: 0.6;
  font-size: 20px;
}
.wallValueDiv{
  font-weight: bold;
  color: #33495F;
  font-size: 24px;
  line-height: 20px;
}

.infoCard{
  overflow: hidden;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
}
.partnerDashBoardCard .custom-tabs .nav-link{
   text-align: center;
}
.partnerDashBoardCard .custom-tabs .active.nav-link{
  border-bottom: 2px solid #FFECF2 !important;
    background-color: #FFECF2 !important;
    color: #FF1659 !important;
    font-weight: bolder;
    text-align: center;
}